body{
  font-family: "Plus Jakarta Sans" !important;
}
navbar {
  height: 5rem;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  color: #222222;
  text-decoration: underline;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}
.f-info-social {
  width: 100%;
  font-size: 1.5rem;
}
.f-info-links {
  width: 100%;
}
/* Card home page */

.card {
  border: none;
  margin-bottom: 3rem;
}
.card-img-top{
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body{
  padding: 0;

}
.card-body h5,p{
 font-weight: 400;
 
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card-link:hover {
  text-decoration: none;
  color: inherit;
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
  opacity: 0.3;
  background-color: #ebebeb;
}